@import url('https://fonts.cdnfonts.com/css/typo-round');
.body{
    padding:0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Qtitle{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #ED1C24;
    color: white;
    font-family: 'Typo Round Regular Demo', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
}
.Qtitle > p{
    padding-top: .6rem;
    padding-bottom: .6rem;
    
}

.Qname{
    width: 100%;
    padding: 0 .3rem;
    padding-top: .4rem;
    padding-bottom: .3rem; 
    font-size: 1rem;
    display: flex;  
    justify-content: space-between;

}
